# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Graduation_Project\FaceRecognitionAttendanceSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
